body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: #132c38;
  background-color: #80cdc6;
  background-color: #20b7af;
  background-color: #75b6d4;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./meditation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
